* {
  font-family: 'Unna', serif;
}

.container {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  border: 1px gray solid;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form {
  margin: 0rem 2rem 0rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
  min-height: 50vh-4rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
}
.label {
  line-height: 4rem;
  background-color: #022c37;
  width: 50%;
  color: antiquewhite;
  text-align: center;
  font-size: 2rem;
}
.input {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.taskInput {
  box-sizing: border-box;
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  padding-left: 1rem ;
}
.inputButton {
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  padding: 0.7rem 1.5rem;
  background-color: aliceblue;
  transition: all 0.3s linear;
}
.taskList{
  box-sizing: border-box;
  margin: 0;
  background-color:blueviolet;
  flex: 3 0 10rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  height: 100%;
}
.taskListGroup, .new {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  background-color:blueviolet;
  display: flex;
  flex-direction: column;
  list-style: none;
  min-height: calc(50vh - 4rem);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0;
}
.listContain {
  display: flex;
  background-color: brown;
  align-items: center;
  min-width: 15rem;
  max-width: 15rem;
  justify-content: space-between;
  padding: 1rem 1rem;
  gap: 1rem;
  flex-wrap: nowrap;
}
.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.item-enter {
  opacity: 0;
  transform: scale(0.9);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(189, 65, 65);
  min-height: 2rem;
  flex: 1 0 5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: aliceblue;
}
.button {
  position: relative;
  width: 2rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
  font-family: 'Unna', serif;
  font-weight: 700;
  transition: all 300ms ease-out;

}
.userButton {
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  margin: 2rem;
}
.button:hover, .inputButton:hover {
  background-color: black;
  color: antiquewhite;
  box-shadow: 1px 1px 2px 1px white;
}
.button:active, .inputButton:active {
  transform: translateY(4px);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 500px){
  .userButton{
    width: 30%;
    margin: 0.2rem
  }
}